version: '3.8'

services:
  # 1. VERİTABANI (PostgreSQL)
  postgres_db:
    image: postgres:16-alpine
    container_name: tarkan_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Password123!
      POSTGRES_DB: TicketDb
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # <--- DİKKAT: Veriler buraya (senin diskine) yazılacak.
    networks:
      - bilet-network

  # 2. CACHE (Redis)
  redis_cache:
    image: redis:alpine
    container_name: tarkan_redis
    ports:
      - '6379:6379'
    networks:
      - bilet-network

  # 3. MESSAGE BROKER (RabbitMQ)
  rabbitmq_broker:
    image: rabbitmq:3-management # <--- "Management" arayüzü olan versiyon
    container_name: tarkan_rabbit
    ports:
      - '5672:5672' # Uygulama portu
      - '15672:15672' # Yönetim Paneli (UI) portu
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - bilet-network

  # 4. SENİN UYGULAMAN (Ticket API)
  ticket_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tarkan_api
    ports:
      - '5000:8080' # Dışarıdan 5000 ile gel, içeride 8080'e git
    environment:
      # MİMAR NOTU: Localhost yerine servis isimlerini kullanıyoruz!
      - ConnectionStrings__Postgres=Host=postgres_db;Port=5432;Database=TicketDb;Username=admin;Password=Password123!;
      - ConnectionStrings__Redis=redis_cache:6379
      - ConnectionStrings__RabbitMQ=host=rabbitmq_broker
    depends_on:
      - postgres_db
      - redis_cache
      - rabbitmq_broker
    networks:
      - bilet-network

# Özel bir ağ oluştur ki hepsi birbirini görsün
networks:
  bilet-network:
    driver: bridge
