version: '3.8'

services:
  # 1. VERİTABANI (PostgreSQL)
  postgres_db:
    image: postgres:16-alpine
    container_name: tarkan_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Password123!
      POSTGRES_DB: TicketDb
    ports:
      - '5433:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - bilet-network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U admin -d TicketDb']
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. CACHE (Redis)
  redis_cache:
    image: redis:alpine
    container_name: tarkan_redis
    ports:
      - '6379:6379'
    networks:
      - bilet-network
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 5

  # 3. MESSAGE BROKER (RabbitMQ)
  rabbitmq_broker:
    image: rabbitmq:3-management
    container_name: tarkan_rabbit
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - bilet-network
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 10s
      timeout: 10s
      retries: 5

  # 4. SENİN UYGULAMAN (Ticket API)
  ticket_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tarkan_api
    ports:
      - '5000:8080'
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Postgres=Host=postgres_db;Port=5432;Database=TicketDb;Username=admin;Password=Password123!;
      - ConnectionStrings__Redis=redis_cache:6379
      - ConnectionStrings__RabbitMQ=host=rabbitmq_broker
    depends_on:
      postgres_db:
        condition: service_healthy
      redis_cache:
        condition: service_healthy
      rabbitmq_broker:
        condition: service_healthy
    networks:
      - bilet-network
    restart: on-failure

networks:
  bilet-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
